.list{
    width: 100%;
    margin: 3vw 0px;
}

.wrapper::-webkit-scrollbar{
    display: none;
}

.listTitle{
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-left: 50px;
}

.wrapper{
    position: relative;
    overflow-y: hidden;
    overflow-x: scroll;
}

.wrapper > .listContainer{
    margin-left: 50px;
    display: flex;
    margin-top: 10px;
    width: max-content;
    transform: translateX(0px);
    transition: all 1s ease;
}

.wrapper > .sliderArrow{
    width: 50px;
    height: 100%;
    background-color: rgb(22, 22, 22, 0.5);
    color: white;
    position: absolute;
    z-index: 99;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
}

.left{
    left: 0;
}

.right{
    right: 0;
}

.listItem{
    background-color: #0b0b0b;
    margin-right: 5px;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    padding: 0 0.2vw;
}
.row_poster{
    max-height: 150px;
    object-fit: contain;
    width: 100%;
    margin-right: 10px;
}

.row_poster-large{
    object-fit: contain;
    max-height: 40vh;
    height: 500px;
}

@media (max-width: 1000px){
    .wrapper > .sliderArrow{
        display: none;
    }
    .wrapper > .listContainer{
        margin-left: 10px;
    }
}